body{
  background-color: #0080ff;
  margin:0px;
}
.box{
    align-items: center;
    float: left;
    height:100vh;
    width:50%;
}
.box.leftSide{
    background-color: #0080ff;
}
.box.rightSide{
    background-color: whitesmoke;
}
.container-fluid .row .box h1{
    color: white;
    font-weight: bold;
}
.container-fluid .row .box #watch{
    color:black;

}
.upperStrap
{   
    background: #332E2E;
    border-radius: 25px;
    height: 130px;
    top: 15%;
    position: absolute;
    width: 150px;
}
.watchFrame
{
    background: #0F0E0E;
    border-radius: 34px;
    height: 220px;
    position: absolute;
    width: 220px;
    z-index: 1;
}
.lowerStrap{
    position: absolute;
    width: 150px;
    height: 130px;
    background: #332E2E;
    border-radius: 25px;
    top:65%
}
.homeButton{
    color: azure;
    height: 16.09px;
    top: 65%;
    position: absolute;
    width: 18.16px;
    z-index:1;
}
#hour{
    position: absolute;
    color:white;
    top:26%;
    left:20%;
    font-style: italic;
    font-size: 1.5em;
    line-height: 37pt;
}